@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body{ 
    margin: 0;
    background-color: #e7d6b0;
}

body .menu {
    margin:0;
    align-items: center;
}

.menu {
    font-family: Arial, Helvetica, sans-serif ;
    background-color: rgb(48, 77, 46);
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 3px;

}

.menu li {
    margin-left: auto;
    margin-right: auto;
}

.botaoMenu {
    cursor: pointer;
    background-color: rgb(48, 77, 46);
    border-style: none;
    color: white;
    font-size: 20px;
    transition: background-color 0.5s;
}

.botaoMenu:hover {
   background-color: rgb(134, 192, 130);
   border-radius: 10px;
   padding: 5px;
}



.text {
    width: 18%;
    text-align: center;
    border-radius: 10px;
    
}

.text p{
    text-align: justify;
}

.categoria {
    display: flex; /*itens ficam lado a lado*/
    justify-content: center; /*alinha os 4 itens no meio*/
    gap: 30px;/*espaçamento entre os itens*/
    margin-top: 30px; /*espaçamento entre o contéudo depois do header, apenas acima (TOP)*/
}

.text button{
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    border-style: none;
    transition: background-color 0.5s;
    margin-bottom: 20px;

}

.text img {
    margin-top: 10px;
}

footer{
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
}

#folha {
    float: left ;
}


